#play md-pagination-wrapper
{
    margin:0 auto;
    position:relative;
}
md-progress-linear .md-bar
{
    background:rgb(255,64,129);
}
#leftNav .md-button
{
    margin:0;
}
.md-bg-pink
{
    background:rgb(255,64,129);
}
.text-white
{
    color:#fff;
}