[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
		
@font-face {
		font-family: 'Minecraftia';
		src: url('Minecraftia.ttf');
		font-smooth: never !important;
		-webkit-font-smoothing : none !important;
	}

/*	
h1,h2,h3,h4,h5,h6 {
		font-family: 'Minecraftia' !important;
		font-smooth: never !important;
		-webkit-font-smoothing : none !important;
	}
*/