[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
		
@font-face {
		font-family: 'Pixelated';
		src: url('OpenSansPXBold.ttf');
	}


h1 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }

h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }

h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }

h4 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }

h5 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }

h6 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }

p,u,li {
/*  font-size: 12px;*/
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1.75em; }
  
a {
  text-decoration: none;
  color: #2196F3;
  }
