    <div class="page-content">

        <div style="background-color: #42A5F5;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Features</font></h4>
                    <p style="color: #eee;">Minecraftly is full of standard MMORPG and additional fun features. Each feature works independently, and they work even better together.</p>
                </div>
            </div>
        </div>
		
        <div style="padding-top: 3%;padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3>Core Mechanics</h3>
                    <p style="color: #616161;">Get the basics right with essential services that provide - global tablist, cross server messaging, cross server teleportation and a sophisticated data controller.</p>
                </div>
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre08.deviantart.net/88da/th/pre/i/2014/217/1/2/minecraft_chibis_by_fabtabulousrd-d7tu06n.png" width="100%"></img>
                </div>
            </div>
        </div>
		
        <div style="background-color:#0288D1; padding-top:3%; padding-bottom:3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre00.deviantart.net/0313/th/pre/f/2014/262/0/8/the_end_ruler__enderlox_details__by_11icedragon11-d7zrrev.png" width="100%"></img>
                </div>
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Social Mechanics</font></h3>
                    <p style="color: #eee;">Beautiful subdomain name, custom domain to brand your world. Global tablist, global messaging, global teleportation to integrate players into an unified, social gameplay environment with their friends.</p>
                </div>
            </div>
        </div>

        <div style="padding-top:2%;padding-bottom:2%;padding-left: 8%;padding-right:8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h4>Virtually Unlimited Storage</h4>
                    <p>At the heart of Minecraftly is a global multi-petabyte scale storage with high throughput and Max I/O performance. All of that to host all the Minecraft worlds for all players</p>
                    <ul>
                        <li>Our storage cluster is built on flash technology to ensure your world loads blazing fast, all the time.</li>
                        <li>A centralized storage cluster helps you teleport to other players' worlds without breaking the gameplay experience, providing the most realistic MMORPG experience possible</li>
                    </ul>
                </div>
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//orig05.deviantart.net/161c/f/2012/180/f/d/cute_enderman_by_tsebresos-d55cqpe.png" width="100%"></img>
                </div>
            </div>
        </div>

        <div style="background-color:#ebeff2; padding-top: 3%; padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre13.deviantart.net/f3e4/th/pre/i/2014/262/1/f/blue__contest_entry_by_gameaddict1234-d7zpdb8.png" width="100%"></img>
                </div>
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3>Control With Ease</h3>
                    <p>Build better community for yourself and leave the operations to us. Save crucial time keeping spammers and trolls out of your world.</p>
                    <ul>
                        <li>Our Anti Spam system is implemented at our edge locations around the world, no action is required from your side.</li>
                        <li>Mute people from talking in your world via /mute command.</li>
                        <li>Kick trolls from your world via /kick command.</li>
                        <li>Ban a troll completely from your world via /ban command</li>
                        <li>We have Google Enterprise grade, machine learning DDoS protection in place, supported by Google Cloud Platform. You don't have to worry about your world being DDoSed at all.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="background-color:#2d384a; padding-top: 3%; padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Cross world interactions</font></h3>
                    <p><font color="#fff">Unlike other solutions, where your inventories, XP and saved points are gone when you jump to other players' server/world, we keep all of your data consistent everywhere you go. It makes you feel that you are part of a giant community.</font></p>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <img src="//orig10.deviantart.net/8414/f/2012/113/8/1/herobrine_by_endernoir-d4xbg0l.png" width="100%"></img>
                </div>
            </div>
        </div>

        <div style="background-color:#0288D1; padding-top:3%; padding-bottom:3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre02.deviantart.net/176a/th/pre/f/2012/140/c/5/minecraft_silhouette__1_by_endernoir-d50j3vc.png" width="100%"></img>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Grow</font></h3>
                    <p><font color="#fff">Acquire friends and followers. Engage and play with people you know and new friends at any time. Take the guesswork out of growing your community.</font></p>
                </div>
            </div>
        </div>
		
        <div style="padding-top: 3%;padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3>Game Economy</h3>
                    <p style="color: #616161;">Interact with extensive virtual economies with inventory systems, in-game stores, p2p marketplaces, crafting and dynamic distribution of resources.</p>
                </div>
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//orig04.deviantart.net/bddc/f/2013/046/e/f/he_only_wanted_a_hug_by_fluffydragonpuppy-d5v293g.png" width="100%"></img>
                </div>
            </div>
        </div>
		
	</div>