    <div class="page-content">

        <div style="background-color: #42A5F5;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Features</font></h4>
                    <p style="font-size: 18px; line-height: 1.5em; color: #eee;">Minecraftly helps you get a world in the cloud, grow your user base, and store your world on our flash cloud-based storage in real time. Each feature works independently, and they work even better together.</p>
                </div>
            </div>
        </div>
		
        <div style="padding-top: 3%;padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3>Core Mechanics</h3>
                    <p style="font-size: 24px; line-height: 1.5em; color: #616161;">Get the basics right with essential services that provide - global tablist, cross server messaging, cross server teleportation and a sophisticated data controller.</p>
                </div>
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre14.deviantart.net/f2c7/th/pre/f/2013/024/d/c/the_minecraft_team_by_meggtoeee-d5sm661.png" width="100%"></img>
                </div>
            </div>
        </div>
		
        <div style="background-color:#0288D1; padding-top:3%; padding-bottom:3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//img07.deviantart.net/f37e/i/2014/026/c/6/_minecraft__elementary_school_by_yazur-d73tffk.png" width="100%"></img>
                </div>
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Social Mechanics</font></h3>
                    <p style="font-size: 24px; line-height: 1.5em; color: #eee;">Beautiful subdomain name, custom domain to brand your world. Global tablist, global messaging, global teleportation to integrate players into an unified, social gameplay environment with their friends.</p>
                </div>
            </div>
        </div>

        <div style="padding-top:2%;padding-bottom:2%;padding-left: 8%;padding-right:8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <h4>Virtually Unlimited Storage</h4>
                    <h6>At the heart of Minecraftly is a global multi-petabyte scale storage. The Overworld, the Nether, and The End are generated for your username's UUID.</h6>
                    <ul>
                        <li>Each Overworld has a border of 10,240 blocks in radius. Which means the total size of your Overworld alone is over 40 million.</li>
                        <li>You can set a spawn point to your world via the simple command /setspawn. Others can go back to spawn via /spawn command.</li>
                        <li>Our storage cluster is built on flash technology to ensure your world loads blazing fast, all the time.</li>
                        <li>Reset your world at anytime via /reset command. Only your world is reset, other datas like inventories are kept safely.</li>
                    </ul>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <img src="https://img01.deviantart.net/b5a7/i/2014/071/0/c/minecraft_by_griffsnuff-d79qdmy.png" width="100%"></img>
                </div>
            </div>
        </div>

        <div style="background-color:#ebeff2; padding-top: 3%; padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox">
                    <img src="//orig05.deviantart.net/3d29/f/2013/181/3/5/la_mascota_de_herobrine_by_lulafrow-d6bcmv3.jpg" width="100%"></img>
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet graybox">
                    <h3>Control With Ease</h3>
                    <h6>Build better community for yourself and leave the operations to us. Save crucial time keeping spammers and trolls out of your world.</h6>
                    <ul>
                        <li>Our Anti Ad Anti Spam is implemented at a proxy level, no action needed from your side.</li>
                        <li>Mute trolls via /mute command.</li>
                        <li>Kick trolls from your world via /kick command.</li>
                        <li>Ban a troll completely from your world via /ban command</li>
                        <li>We have Enterprise grade, machine learning DDoS protection in place, supported by Google Cloud Platform. We are in their Launchpad program and get full support so you don't have to worry about anything.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="background-color:#2d384a; padding-top: 3%; padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Cross world interactions</font></h3>
                    <h6><font color="#fff">Unlike other solutions, where your inventories, XP and saved points are gone when you jump to other players' server/world, we keep all of your data consistent everywhere you go. It makes you feel that you are part of a giant community.</font></h6>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre08.deviantart.net/4eaa/th/pre/f/2015/163/7/9/inventory_by_lockrikard-d8wzx4z.png" width="100%"></img>
                </div>
            </div>
        </div>

        <div style="background-color:#0288D1; padding-top:3%; padding-bottom:3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre08.deviantart.net/cc86/th/pre/f/2013/283/4/2/minecraft__check_your_inventory_kids_____by_playingames6-d6pyzyk.png" width="100%"></img>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
                    <h3><font color="#fff">Grow</font></h3>
                    <h6><font color="#fff">Acquire friends and followers. Engage and play with people you know and new friends at any time. Take the guesswork out of growing your community.</font></h6>
                </div>
            </div>
        </div>
		
        <div style="padding-top: 3%;padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
                    <h3>Game Economy</h3>
                    <p style="font-size: 24px; line-height: 1.5em; color: #616161;">Interact with extensive virtual economies with - inventory systems, in-game stores, p2p marketplaces, crafting and dynamic distribution of resources.</p>
                </div>
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
                    <img src="//pre10.deviantart.net/196c/th/pre/f/2014/295/f/4/minecraft_pork_shop_by_mysticalpha-d83ryxo.jpg" width="100%"></img>
                </div>
            </div>
        </div>
		
		<div style="background-image: url(//img09.deviantart.net/bb8c/i/2012/355/1/0/yogscast_minecraft___panorama_edition_by_lonmcgregor-d5opfci.jpg); background-size: cover; text-align: center; background-color: #42A5F5; padding-top: 5%; padding-bottom: 5%; padding-left: 8%; padding-right: 8%;">
			<font color="#fff"><b>
				<h2>Try us out</h2>
				<p style="font-size: 28px; line-height: 1.5em;">Start playing for free!</p>
			</b></font>
			
			<div style="height: 10px;"></div>
			
			<a ui-sref="app.login">
				<md-button class="md-raised">GET STARTED</md-button>
			</a>
        </div>
		
	</div>