	<div class="page-content">

		<div style="background-color: #42A5F5; padding-top: 1%; padding-bottom: 1%; padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h1><font color="#fff"><strong>Bigger than Earth</strong></font></h1>
					
					<p><a ui-sref="app.play"><md-button class="md-raised">PLAY NOW</md-button></a></p>
					
					<p style="font-size: 24px; line-height: 1.5em; color: #EEEEEE;">The largest single continuous Minecraft online virtual universe ever made in history, with infinite number of worlds, millions of times larger than Earth.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #EEEEEE;">Claim your personal Minecraftly world inside this universe. It takes only 1 second. Play with many others across the same universe in real time.</p>
					<!-- <p style="font-size: 22px; line-height: 1.5em; color: #EEEEEE;">People can go to your world via your <b><font color="#FAFAFA">username.m.ly</font></b>, or a custom domain name that you choose.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #EEEEEE;">Join now with <span class="player-count"></span> players online!</p> -->
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img class="mdl-button--raised" style='border:2px solid #E3F2FD' src="//i.giphy.com/l0HlzBk9Z9Ojb9Dqg.gif" width="100%"></img>
				</div>

				<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
					<img src="//i.imgur.com/t0RQYdi.png" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
					<h3 style="color: #FAFAFA;">Creating your Minecraft world online shouldn't be an uphill struggle...</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #E0E0E0;">... but a quick, easy and fun process. Minecraftly is a way for you to quickly get an online Minecraft world for free, play with friends, and build your own community.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #E0E0E0;">In a way, it's like a personal server within a server, with your own server web page, and no learning curve needed.</p>
				</div>

				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3 style="color:#FAFAFA">Forget About Infrastructure</h3>
					<p style="font-size: 25px; line-height: 1.5em; color: #E0E0E0;">Stop wasting money on low quality hosting. Stop wasting time on installing complex softwares.</p>
					<p style="font-size: 25px; line-height: 1.5em; color: #E0E0E0;">We take care of everything for you, all you need to do is play!</p>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//pre00.deviantart.net/bc88/th/pre/i/2014/086/3/c/corefire___fa___by_crystalwolfxx-d7br08x.png" width="100%"></img>
				</div>
			</div>
		</div>

		<div style="background-color:#E3F2FD; padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//pre06.deviantart.net/a115/th/pre/i/2015/262/a/5/minecraft_base__standing__transparent_background__by_minecraftbases-d9a5fv6.png" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Custom Domain</h3>
					<p style="font-size: 24px; line-height: 1.5em;"><font color="#616161">Besides from using our built in address <font color="#000">subdomain.m.ly</font>, you can also map your own domain name for free.</font></p>
					<p style="font-size: 24px; line-height: 1.5em;"><font color="#616161">For example, if you want to set <font color="#000">mc.example.com</font> as your server address, simply add a CNAME record mapped to <font color="#000">your-Minecraft-UUID.m.ly</font></font></p>
					<p>
						<a ui-sref="app.cname">
							<md-button class="md-primary md-raised">LEARN MORE</md-button>
						</a>
					</p>
				</div>

				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Protect Your World</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">We make it super easy for you to manage and protect your world againsts griefers and trolls.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">You can whitelist, set spawn, set home, trust, ban, kick, and mute via our simple command line interface.</p>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//orig04.deviantart.net/bddc/f/2013/046/e/f/he_only_wanted_a_hug_by_fluffydragonpuppy-d5v293g.png" width="100%"></img>
				</div>

				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<img src="//orig05.deviantart.net/1144/f/2012/240/b/f/minetrophy_by_ddant1100-d5cqjoz.gif" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<h3>Our Technology</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">The challenge is to handle situations when thousands of players will gather in tight spaces, like in a world, or a chunk and to do this without interrupting the gameplay.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">To handle potentially millions of players simultaneously online at the same time, we have developed our own technology. Server nodes are assigned to regions that are more densely populated, and these change the frequency of updates of remote entities to maintain a fluid experience for nearby entities.</p>
				</div>
			</div>
		</div>

		<div style="background-color:#fff; padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<h3>Get Free Support<h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">We offer free, real time, premium support to every player.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">The Minecraftly team are also active in online communities like MC Forum and GitHub. We're here to help.</p>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<img src="//i.imgur.com/1MNfV95.png" width="100%"></img>
				</div>

				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<img src="//orig09.deviantart.net/8aa2/f/2012/206/4/f/minetrophy_by_ddant1100-d58lhtj.gif" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<h3>This Is a Game Changer</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Minecraftly is supported by companies such as Stripe, Amazon, Google and Microsoft.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Minecraftly depends on community support. We are excited to be off to a strong start, and build the most scalable MMO platform for the long run.</p>
				</div>

				<!-- <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Single Largest Minecraft Universe in the World</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">With our petabyte scale infrastructure, our single Minecraftly universe is 100 times bigger than Earth</p>
					<p style="font-size: 18px; line-height: 1.5em; color: #616161;">You are welcome! =))</p>
				    <a href="http://mc.ly/piper" target="_blank">
						<md-button class="md-primary md-raised">Single Largest Minecraft Universe in the World</md-button>
					</a>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<iframe src="https://player.vimeo.com/video/154755856?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div> -->
			</div>
		</div>
		
		<div style="background-image: url(//img09.deviantart.net/bb8c/i/2012/355/1/0/yogscast_minecraft___panorama_edition_by_lonmcgregor-d5opfci.jpg); background-size: cover; text-align: center; background-color: #42A5F5; padding-top: 5%; padding-bottom: 5%; padding-left: 8%; padding-right: 8%;">
			<font color="#fff"><b>
				<h2>Try us out</h2>
				<p style="font-size: 28px; line-height: 1.5em;">Start playing for free!</p>
			</b></font>
			
			<div style="height: 10px;"></div>
			
			<a ui-sref="app.play">
				<md-button class="md-raised">GET STARTED</md-button>
			</a>
        </div>
		
	</div>
