	<div class="page-content">

		<div style="background-image: url(images/background.png); background-repeat: no-repeat; background-size: cover; background-color: #0091ea; padding-top: 1%; padding-bottom: 1%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3><font color="#fff">Online World,</font></h3>
					<h3><font color="#fff">Built for Casual Gamers.</font></h3>
					
					<p>
					<a ui-sref="app.features">
						<md-button class="md-raised">LEARN MORE</md-button>
					</a>
					</p>
					
					<p style="font-size: 24px; line-height: 1.5em; color: #eee;">Get a Minecraft world in 1 second, with a cool address <b><font color="#fff"><i>username</i>.m.ly</font></b></p>
					<p style="font-size: 24px; line-height: 1.5em; color: #eee;">There's no setup & it's free!</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #eee;">Make new friends and experience full social MMO interactions.</p>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img style='box-shadow: 0px 0px 5px #fff; border:2px solid #fff' src="images/output_tN0Dn2-compressor.gif" width="100%"></img>
				</div>
			</div>
		</div>

		<div style="padding-top:5%;padding-bottom:5%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//orig15.deviantart.net/ee8f/f/2011/321/e/f/what_lies_beneath_by_drekinn77-d4gi85k.jpg" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Move fast</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Minecraftly is a cloud platform that helps you quickly get an online Minecraft world for free, play with family, and grow your friendship.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Minecraftly is made up of complementary features that you can mix-and-match to fit your needs.</p>
				</div>
			</div>
		</div>

		<div style="background-color:#ebeff2; padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Forget about infrastructure</h3>
					<p style="font-size: 25px; line-height: 1.5em; color: #616161;">You don't have to buy servers hosting, you don't have to care about software or installing plugins.</p>
					<p style="font-size: 25px; line-height: 1.5em; color: #616161;">Admin features are built in. You can focus on building your own community and not waste time building complex infrastructure.</p>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//img01.deviantart.net/4854/i/2011/243/1/a/enderman_loves_cake_by_emanuel_guedes-d48fbx6.png" width="100%"></img>
				</div>
			</div>
		</div>

		<div style="background-color:#2d384a; padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//pre09.deviantart.net/29c7/th/pre/i/2015/046/8/8/minecraft_village_by_algoinde-d8i3kbh.png" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3><font color="#fff">Persistent data</font></h3>
					<p style="font-size: 24px; line-height: 1.5em;"><font color="#fff">Persistent data is the solution built directly with. Your inventories, player datas, etc... are connected cross unlimited worlds.</font></p>
					<p style="font-size: 24px; line-height: 1.5em;"><font color="#fff">You travel anywhere seamlessly, and everything feels like just one giant space.</font></p>
				</div>
			</div>
		</div>
		
		<div style="padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Easy to play</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Our Command Line Interface makes it very easy to set spawn, home, kick, mute, and ban players from your world.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">You can see a demonstration from one of our players in this video.</p>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<iframe width="100%" height="360" src="https://www.youtube.com/embed/D2AwMIt1oMc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		
		<div style="background-color:#ebeff2; padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//orig07.deviantart.net/d7c7/f/2011/096/5/3/minecraft_trollface_by_myvideogameworld-d3ddgh6.png" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>Free to start, scale with ease</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">You can have hundreds of players inside your world alone without performance hit, inside our giant network backbone.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">When your world is a breakout hit, you don't have to worry about provisioning extra capacity — Minecraftly handles that for you.</p>
				</div>
			</div>
		</div>

		<div style="background-color:#0288D1; padding-top:3%; padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3><font color="#fff">Get free support</font></h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #eee;">We offer free, real time, premium support to every logged in player.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #eee;">The Minecraftly team are also active in online communities like MC Forum and GitHub. We're here to help.</p>
				</div>
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="//orig06.deviantart.net/29f2/f/2012/143/5/c/minecraft_by_nix_u-d50swr0.png" width="100%"></img>
				</div>
			</div>
		</div>

		<div style="padding-top:3%;padding-bottom:3%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img src="images/Stripe-Atlas-logo.jpg" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3>This is a game changer.</h3>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Minecraftly is supported by companies such as Stripe, Amazon, Google and Microsoft.</p>
					<p style="font-size: 24px; line-height: 1.5em; color: #616161;">Minecraftly depends on community support. We’re excited to be off to a strong start, and build the most scalable MMO platform for the long run.</p>
				</div>
			</div>
		</div>

		<div style="text-align: center; background-color: #0091ea; padding-top: 5%; padding-bottom: 5%; padding-left: 8%; padding-right: 8%;">
			<font color="#fff">
				<h3>Try us out</h3>
				<p style="font-size: 24px; line-height: 1.5em;">Start playing for free!</p>
			</font>
			
			<div style="height: 10px;"></div>
			
			<a ui-sref="app.play">
				<md-button class="md-raised">GET STARTED</md-button>
			</a>
        </div>
		
	</div>
