    <div class="page-content">
      
      <!-- carousel -->
      <div style="background-image: url(images/carousel.jpg); background-repeat: no-repeat; background-size: cover; background-color: #0091ea; padding-top: 3%; padding-bottom: 3%;padding-left:5%;padding-right:5%;">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
        <h4><font color="#fff">Building something big together</font></h4>
        <h6><font color="#eee">Take your ideas to the next level and make something that people use everyday. Something that changes the virtual world—and does it fast. We still have a long way to go. Hop in and help us get there.</font></h6>
            </div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
            	<img src="//pre07.deviantart.net/a4c1/th/pre/f/2014/316/8/1/bebopvox_be_flyin__minecraft__by_guruith-d868x0n.png" width="100%"></img>
            </div>
        </div>
      </div>
      <!-- /carousel -->
      
      <div style="padding-top:3%;padding-bottom:3%;padding-left:5%;padding-right:5%;">
         <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet graybox">
            	<h3>We are looking for talented people to expand our team!</h3>
            	<p>Minecraftly is a fast-moving, demanding, and rewarding environment that gives you the freedom to work when and where you want and to meaningfully contribute to a successful and advanced project where there is always room for advancement.</p>
            	<p>We value initiative, reward excellence, and constantly encourage critical thinking and originality. Be part of a close-knit, cooperative team working to deliver premier gameplay experiences to the Minecraft community!</p>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox">
            	<img src="//orig12.deviantart.net/1575/f/2012/236/9/f/minecraft___the_creepers_by_kingdomhearts300-d5c8kb6.png" width="100%"></img>
            </div>
         </div>
      </div>
		
	</div>