    <div class="page-content">
	
		<div style="text-align: center; padding-left: 15%; padding-right: 15%;">
			<div ng-cloak>
				<md-content>
						<md-dialog-content class="md-dialog-content">
							<form ng-submit='login()'>
								<md-input-container class="md-block">
									<label>Email</label>
									<input ng-model="user.email" type="email" name="username" id="username" required>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Password</label>
									<input ng-model="user.password" type="password" name="password" id="password" required>
								</md-input-container>
							</form>
						</md-dialog-content>
						<md-dialog-actions layout="row">
							<md-button  class="md-accent md-raised md-ink-ripple" ng-click="login()">Login</md-button>
						</md-dialog-actions>
				</md-content>
			</div>
		</div>
		
	</div>