    <div class="page-content">

		<div style="background-image: url(images/background.png); background-repeat: no-repeat; background-size: cover; background-color: #0091ea; padding-top: 1%; padding-bottom: 1%;padding-left:5%;padding-right:5%;">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
					<img style='box-shadow: 0px 0px 5px #fff; border:2px solid #fff' src="images/output_rJ8Vd4-compressor.gif" width="100%"></img>
				</div>
				<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
					<h3><font color="#fff">How to Play</font></h3>
					
					<p style="font-size: 24px; line-height: 2em; color: #eee;">1. Open Minecraft Multiplayer on Mac, Windows or Linux</p>
					<p style="font-size: 24px; line-height: 2em; color: #eee;">2. Add <b><font color="#fff">m.ly</font></b> in the Server Address box</p>
					<p style="font-size: 24px; line-height: 2em; color: #eee;">3. Click <i>Done</i></p>
					<p><a href="http://mc.ly/demo" target="_blank">Don't know what Minecraft is yet? Try it out for free.</a></p>
				</div>
			</div>
		</div>
		
	</div>