    <div class="page-content">
	
		<div style="text-align: center; background-color: #fff; padding-left: 2%; padding-right: 2%;">
			<div ng-cloak>
				<md-content>
					<md-tabs md-dynamic-height md-border-bottom md-center-tabs>
						<md-tab label="one">
							<md-content class="md-padding">
								<img style='border:1px solid #fff' src="images/play1.jpg" width="300px"></img>
								<h6>1. Open Minecraft PC client on Windows, Mac or Linux, then choose "Multiplayer" mode.</h6>
							</md-content>
						</md-tab>
						<md-tab label="two">
							<md-content class="md-padding">
								<img style='border:1px solid #fff' src="images/play2.jpg" width="300px"></img>
								<h6>2. Click the "Add Server" button, simply put <b>m.ly</b> as server address. Click "Done".</h6>
							</md-content>
						</md-tab>
						<md-tab label="three">
							<md-content class="md-padding">
								<img style='border:1px solid #fff' src="images/play3.jpg" width="300px"></img>
								<h6>3. That's it! Your world is automagically accessible by anyone via the address <b>(username).m.ly</b></h6>
							</md-content>
						</md-tab>
					</md-tabs>
				</md-content>
			</div>

			<p>
				<a href="http://mc.ly/demo" target="_blank">
					Don't know what Minecraft is yet? Try it out for free!
				</a>
			</p>

		</div>
		
	</div>