<div layout="row" style="text-align: center; background-color: #42A5F5; padding-top: 5%; padding-bottom: 5%; padding-left: 5%; padding-right: 5%; min-height: 360px;">
	<div flex="100">
		<h4><font color="#fff"><i class="material-icons">stars</i> Buy VIP and get amazing add-on features!</font></h4>
		
		<p>
			<a ng-href="https://checkout.minecraftly.com/checkout/packages/add/1028002/subscription" target="_blank"><img src="//dunb17ur4ymx4.cloudfront.net/packages/images/4d972b10f8df6b7039baf87bf7016a95929d62a9.png"></a>
			<a ng-href="https://checkout.minecraftly.com/checkout/packages/add/1121307/subscription" target="_blank"><img src="//dunb17ur4ymx4.cloudfront.net/packages/images/bb708067facc2578b7991647d1342103c475862b.png"></a>
			<a ng-href="https://checkout.minecraftly.com/checkout/packages/add/996236/subscription" target="_blank"><img src="//dunb17ur4ymx4.cloudfront.net/packages/images/40244bc2d669be3dd0580d497054f1a5b46655f8.png"></a>
		</p>
		
		<p><font color="#fff">VIP subscription gives you access to many fun features. We have chosen the cosmetic perks carefully so you don't have to worry about gameplay balance being broken.</font></p>
	</div>
</div>
	
<div style="padding-top:2%;padding-bottom:2%;padding-left: 8%;padding-right:8%;">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
            <h3>VIP Rank Perks</h3>
            <h6>Here are what you get when you buy VIP subscriptions:</h6>
		<ul>
			<li>Unlimited World Size</li>
				<ul>
					<li>Your world will be infinite in size</li>
					<li>That includes world, nether, and the end</li>
				</ul>
			<li>Voter rank tag in chat until your vote expires</li>
			<li>Lobby Abilities:</li>
			<ul>
				<li>Fly</li>
				<li>Get married</li>
				<li>Sit down anywhere: /sit</li>
				<li>See players near you: /near</li>
				<li>List warps: /warps</li>
			</ul>
		</ul>
		</div>
		<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
            <img src="//orig06.deviantart.net/3aa0/f/2014/353/1/1/warpify_by_endernoir-d8ad2yf.png" width="100%"></img>
		</div>
	</div>
</div>
	
<img src="//i.giphy.com/l0MYHPkKBpbIFkkgw.gif" width="100%"></img>
<img src="//i.giphy.com/3o6ZtrjsI49WWPkrSM.gif" width="100%"></img>
<img src="//i.imgur.com/urOACpZ.png" width="100%"></img>

	