    <div class="page-content">
        
        <!-- carousel -->
        <div style="background-color: #42A5F5;padding-top: 8%;padding-bottom: 8%;padding-left: 8%;padding-right:8%;">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet graybox">
             <center><h3><font color="#fff">Get to know us</font></h3><center>
           </div>
          </div>
        </div>
        <!-- /carousel -->
        
        <div style="padding-top: 8%; padding-bottom: 3%;padding-left: 12%;padding-right: 12%; text-align: center; align: center;">
          <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="float:left; max-width: 250px;">
                <img mdl-button--raised src="//i.imgur.com/n8hzHVa.jpg" class="mdl-button--raised src=" width="150px" height="150px" style="border-radius: 50%;"/>
                <h4>VIET NGUYEN</h4>
                <h5>Founder & CEO</h5>
                <p>I am the Founder and CEO of Minecraftly. I’m responsible for Minecraftly’s vision and product strategy. I like UX and Trance Music. I'm Vietnamese. I blog <a href="http://vi.et" target="_blank">here</a>.</p>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="margin:0 auto; max-width: 250px;">
                <img src="//i.imgur.com/vIB0B73.jpg" width="150px" height="150px" class="mdl-button--raised src=" style="border-radius: 50%;"/>
                <h4>CORY REDMOND</h4>
                <h5>CTO</h5>
                <p>I develop the Minecraftly software. My happiness is directly correlated to our test coverage. I love Java, started 5 years back and have loved and learnt more every moment of it! </p>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="float:right; max-width: 250px;">
                <img src="//cravatar.eu/helmavatar/be13a1ba-1d12-4229-8eba-9f1b238aecda/512.png" width="150px" height="150px" class="mdl-button--raised src=" style="border-radius: 50%;"/>
                <h4>NOAH KIGER</h4>
                <h5>Server Manager</h5>
                <p>I am a jack of all trades, responsible for pretty much all aspects of Minecraftly. I spend my days (and nights) making sure Minecraft running smoothly all the time.</p>
              </div>
          </div>
        </div>
        
        <div style="padding-top: 3%; padding-bottom: 3%;padding-left: 12%;padding-right: 12%; text-align: center; align: center;">
          <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="float:left; max-width: 250px;">
                <img src="//cravatar.eu/helmavatar/4a49ea65-55be-4b32-86c7-a4fe4ac7b684/512.png" width="150px" height="150px" style="border-radius: 50%;"/>
                <h4>DARSHAN NESHABALAN</h4>
                <h5>Community Manager</h5>
                <p>I'm responsible for enriching user experiences on the Minecraftly platform as a community manager.</p>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="margin:0 auto; max-width: 250px;">
                <img src="//cravatar.eu/helmavatar/6f93a373-3765-4316-af73-199ca1ea14cf/512.png" class="mdl-button--raised src=" width="150px" height="150px" style="border-radius: 50%;"/>
                <h4>CAMERON SANDERS</h4>
                <h5>Customer Champion</h5>
                <p>Spreading the word about the power of Minecraftly! I love being in the middle of all the action.</p>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="float:right; max-width: 250px;">
                <img src="//cravatar.eu/helmavatar/d126678d-08a7-4982-bf5f-926a761daf56/512.png" class="mdl-button--raised src=" width="150px" height="150px" style="border-radius: 50%;"/>
                <h4>ALEKS COLLINS</h4>
                <h5>Customer Champion</h5>
                <p>Making Minecraftly user experience both delightful and usable. Passion for products which make a difference.</p>
              </div>
          </div>
        </div>
      
		<div style="background-image: url(//img09.deviantart.net/bb8c/i/2012/355/1/0/yogscast_minecraft___panorama_edition_by_lonmcgregor-d5opfci.jpg); background-size: cover; text-align: center; background-color: #42A5F5; padding-top: 5%; padding-bottom: 5%; padding-left: 8%; padding-right: 8%;">
			<font color="#fff"><b>
				<h2>Try us out</h2>
				<p style="font-size: 28px; line-height: 1.5em;">Start playing for free!</p>
			</b></font>
			
			<div style="height: 10px;"></div>
			
			<a ui-sref="app.login">
				<md-button class="md-raised">GET STARTED</md-button>
			</a>
        </div>
		
	</div>