<div class="page-content">
    <div layout="column" layout-align="center center">
        <h2>
    Minecraft Profile
  </h2>
        <div layout="row" layout-align="center center">
            <div>
                <img src="//cravatar.eu/head/{{username}}/128.png">
            </div>
            <div layout="column" layout-align="center center">
                <div>
                    Server Address: <strong>{{username}}.m.ly</strong>
                </div>
                <div>
                    Username: <strong>{{username}}</strong>
                </div>
                <div>
                    UUID: <strong>{{UUID}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
