<div class="page-content" align="center">

    <h4>
        {{name}}'s world
    </h4>
		
    <div>
        <img src="//crafatar.com/renders/body/{{uuid}}.png">
    </div>
			
    <p>
        Server Address: <strong>{{name}}.m.ly</strong>
    </p>
		
	<div>
		<img src="//pre12.deviantart.net/a5ec/th/pre/f/2014/179/9/9/minecraft__village_by_supahpow31-d7odz88.png" width="100%">
	</div>
	
	<h4>
        Custom Domain
    </h4>
	
	<p>
        If you have a domain name, CNAME it to:
    </p>
	<p>
	<strong>{{uuid}}.m.ly</strong>
	</p>
	
	<div>
		<img src="//pre03.deviantart.net/b33e/th/pre/f/2014/191/1/5/minecraft_survival_games_arena_1___remake__by_supahpow31-d7q1yyp.png" width="100%">
	</div>
    
</div>
