<div class="page-content">
    <div layout="column" layout-align="center center">
        <h2>
            Minecraft Profile
        </h2>
        <div layout="row" layout-align="center center">
            <div>
                <img src="//cravatar.eu/head/{{uuid}}/128.png">
            </div>
            <div layout="column" layout-align="center center">
                <div>
                    Server Address: <strong>{{uuid}}.m.ly</strong>
                </div>
                <div>
                    Name: <strong>{{name}}</strong>
                </div>
                <div>
                    UUID: <strong>{{uuid}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
