<div style="text-align: center; background-color: #42A5F5; padding-top: 2%; padding-bottom: 2%; padding-left: 5%; padding-right: 5%;">
	<h4><font color="#fff"><i class="material-icons">stars</i> Buy VIP and get amazing add-on features!</font></h4>
</div>

<div layout="row" style="align: center; text-align: center; background-color: #42A5F5; padding-top: 3%; padding-bottom: 5%; padding-left: 5%; padding-right: 5%; min-height: 250px;">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="float:left; max-width: 250px;">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/1028002/subscription" target="_blank"><img ng-src="//dunb17ur4ymx4.cloudfront.net/packages/images/4d972b10f8df6b7039baf87bf7016a95929d62a9.png"></a>
			<h4><font color="white">1 Month</font></h4>
			<p><font color="white">7.99</font></p>
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="margin-left:0 auto; margin-right:0 auto; max-width: 250px;">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/1121307/subscription" target="_blank"><img ng-src="//dunb17ur4ymx4.cloudfront.net/packages/images/bb708067facc2578b7991647d1342103c475862b.png"></a>
			<h4><font color="white">6 Months</font></h4>
			<p><font color="white">34.99</font></p>
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox" style="float:right; max-width: 250px;">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/996236/subscription" target="_blank"><img ng-src="//dunb17ur4ymx4.cloudfront.net/packages/images/40244bc2d669be3dd0580d497054f1a5b46655f8.png"></a>
			<h4><font color="white"><b>1 Year</b></font></h4>
			<p><font color="white">49.99</font></p>
			<p><font color="yellow"><b>Best Value</b></font></p>
		</div>
	</div>
</div>

<div class="mdl-grid" style="background-color:#E3F2FD; padding-top: 3%; padding-bottom: 3%;padding-left: 4%;padding-right: 4%;">
	<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
		<img ng-src="//i.giphy.com/l0MYHPkKBpbIFkkgw.gif" width="100%" ng-cloak/>
	</div>
	<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
		<h4>Get 1 Week Free Trial of VIP</h4>
		<p style="color: #616161;">Share our website on social media, and get 1 week of free VIP rank for totally free!</p>
		<p><a ng-href="http://www.paywithapost.de/pay?id=918a5b3d-fce7-4142-afd6-a7e9124114f3" target="_blank"><md-button class="md-accent md-raised">GET FREE VIP NOW</md-button></a></p>
	</div>
</div>

<center>
		<h2>VIP Rewards</h2>
		<p>Here are what you get when you buy VIP subscriptions:</p>
</center>

<div class="mdl-grid" style="padding-top: 3%;padding-bottom: 3%;padding-left: 4%;padding-right: 4%;">
	<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
	<ul>
		<li>Get billings and in-game support at anytime</li>
		<li>2x multiplier</li>
		<ul>
			<li>Earn twice the amount of experience and money doing /jobs</li>
		</ul>
		<li>Have pets following you around</li>
		<ul>
			<li>Have any mobs as pets following you around</li>
		</ul>
		<li>Disguise as mobs and players</li>
		<ul>
			<li>Turn yourself into any mob, or any another player</li>
		</ul>
		<li>Particle effects</li>
		<ul>
			<li>Have particle trails around your head, body and feet using the /trails command</li>
		</ul>
		<li>Sit anywhere</li>
		<ul>
			<li>Type /sit to sit down anywhere</li>
		</ul>
		<li>Early access to new features</li>
		<ul>
			<li>VIP players automatically get new features before we release them to the public!</li>
		</ul>
		<li>Awesome VIP badge and chat highlights</li>
		<ul>
			<li>VIP members get an awesome VIP badge next to anything that has their name on it.</li>
			<li>Get noticed with VIP chat prefix and chat color</li>
			<li>It shows others that you support us and you are awesome!</li>
		</ul>
	</ul>
	</div>
	<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
		<img src="//i.giphy.com/3o6ZtrjsI49WWPkrSM.gif" width="100%"></img>
	</div>
</div>

<div class="mdl-grid" style="padding-top: 3%;padding-bottom: 3%;padding-left: 4%;padding-right: 4%;">
	<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet redbox">
		<img src="//i.imgur.com/urOACpZ.png" width="100%"></img>
	</div>
	<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet redbox">
		<h3>Disguise as mobs and players</h3>
		<p>
			Turn yourself into any mob, or any another player</li>
		</p>
	</div>
</div>

<div>
	<img ng-src="//i.imgur.com/9XImk2x.png" width="100%" ng-cloak/>
</div>