<div layout-wrap layout="column" ng-style="{'background-image':'url(//i.imgur.com/ax6T3iW.jpg)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-color': '#000', 'min-height': '100vh', 'padding-top': '15vh'}">
	<center>
	<h2 md-colors="{color:'grey-200'}" ng-style="{'max-width': '480px', 'padding: '15vh'}">Get VIP and get more amazing features!</h2>
	<div layout-gt-xs="row" layout-xs="column" ng-style="{'max-width': '720px'}">
		<div flex-gt-xs="50" flex-xs="100" flex-xs="100">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/1028002/subscription" target="_blank"><img ng-src="//i.imgur.com/gbcpCTE.png"/></a>
			<h4><font color="white">Monthly</font></h4>
			<p><font color="white">$8</font></p>
		</div>
		<div flex-gt-xs="50" flex-xs="100" flex-xs="100">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/996236/subscription" target="_blank"><img ng-src="//i.imgur.com/itWLJ4t.png"/></a>
			<h4><font color="white">Yearly</font></h4>
			<p><font color="white">$49</font></p>
			<p><font color="yellow"><b>Best Value! (save 50%)</b></font></p>
		</div>
	</div>
	</center>
</div>

<div layout-wrap layout="column" ng-style="{'background-image':'url(//i.imgur.com/fX8yJg2.png)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-color': '#000', 'min-height': '100vh', 'padding-top': '15vh'}">
	<center>
	<h3 md-colors="{color:'grey-200'}" ng-style="{'max-width': '480px', 'padding: '15vh'}">COMPARE</h3>
	<p md-colors="{color:'grey-200'}" ng-style="{'max-width': '480px', 'padding: '15vh'}">Experience the VIP gaming experience for power users today! One plan, unlimited features!</p>
	<div layout-gt-xs="row" layout-xs="column" ng-style="{'max-width': '720px'}">
		<div flex-gt-xs="50" flex-xs="100" flex-xs="100">
			<img ng-src="//i.imgur.com/qzMY8xX.png" height="150px" ng-cloak/>
			<h5><font color="white">Noob Crafter</font></h5>
			<hr>
			<p><font color="white">$0/forever</font></p>
			<p><font color="white">FREE FOREVER</font></p>
			<hr>
			<p md-colors="{color:'grey-200'}">1 WORLD</p>
			<p md-colors="{color:'grey-200'}">EDIT WORLD</p>
			<p md-colors="{color:'grey-200'}">CUSTOM DOMAIN</p>
			<p md-colors="{color:'grey-200'}">10,000 BLOCKS WORLD RADIUS</p>
			<p md-colors="{color:'grey-200'}">GENERATED WEB PAGE</p>
			<p md-colors="{color:'grey-200'}">CALL YOUR TEAM</p>
			<p md-colors="{color:'grey-200'}">SUPPORT</p>
			<hr>
		</div>
		<div flex-gt-xs="50" flex-xs="100" flex-xs="100">
			<img ng-src="//i.imgur.com/itWLJ4t.png" height="150px" ng-cloak/>
			<h5><font color="white">VIP Crafter</font></h5>
			<hr>
			<p><font color="white">$8/month</font></p>
			<p><font color="yellow">or $49 / year (save 50%)</font></p>
			<hr>
			<p md-colors="{color:'grey-200'}">WORLD + NETHER + THE END</p>
			<p md-colors="{color:'grey-200'}">EDIT WORLD</p>
			<p md-colors="{color:'grey-200'}">CUSTOM DOMAIN</p>
			<p md-colors="{color:'grey-200'}">UNLIMITED WORLD SIZE</p>
			<p md-colors="{color:'grey-200'}">CUSTOM WEB PAGE</p>
			<p md-colors="{color:'grey-200'}">FREE HOSTING</p>
			<p md-colors="{color:'grey-200'}">24/7 SUPPORT</p>
			<hr>
			<p md-colors="{color:'grey-200'}">PETS</p>
			<p md-colors="{color:'grey-200'}">PARTICLE EFFECTS</p>
			<p md-colors="{color:'grey-200'}">VIRTUAL CHESTS</p>
			<p md-colors="{color:'grey-200'}">MOB DISGUISES</p>
			<p md-colors="{color:'grey-200'}">...</p>
			<p md-colors="{color:'grey-200'}">AND MUCH MORE!</p>
		</div>
	</div>
	</center>
</div>

<div layout-wrap layout="row" md-colors="{color:'grey-50'}" ng-style="{'background-color': '#000', 'overflow': 'hidden'}">
	<div flex-gt-xs="50" flex-xs="100" ng-style="{'padding': '5vw'}">
	<h2>VIP Rewards</h2>
	<p>Here are what you get when you buy VIP subscriptions:</p>
	<ul>
		<li>Get billings and in-game support at anytime</li>
		<li>Have pets following you around</li>
		<ul>
			<li>Have any mobs as pets following you around</li>
			<li>Command: /pet</li>
		</ul>
		<li>Disguise as mobs and players</li>
		<ul>
			<li>Turn yourself into any mob, or any another player</li>
			<li>Command: /disguise</li>
			<li>To undisguise: do /u</li>
		</ul>
		<li>Particle effects</li>
		<ul>
			<li>Have particle effects/trails around your head, body and feet.</li>
			<li>Command: /trails</li>
		</ul>
		<li>Sit anywhere</li>
		<ul>
			<li>Type /sit to sit down anywhere</li>
		</ul>
		<li>Have 50 virtual chests</li>
		<ul>
			<li>Have 50 virtual chests</li>
			<li>Command: /chest <number></li>
		</ul>
		<li>Daily income</li>
		<ul>
			<li>Have daily income for everyday that you log in at least once</li>
			<li>Income: $1500 in-game money</li>
		</ul>
		<li>Early access to new features</li>
		<ul>
			<li>VIP players automatically get new features before we release them to the public!</li>
		</ul>
		<li>Awesome VIP badge and chat highlights</li>
		<ul>
			<li>VIP members get an awesome VIP badge next to anything that has their name on it.</li>
			<li>Get noticed with VIP chat prefix and chat color</li>
			<li>It shows others that you support us and you are awesome!</li>
		</ul>
	</ul>
	</div>
	
	<div flex-gt-xs="50" flex-xs="100" layout="column">
		<div flex="33">
		<img ng-src="//i.giphy.com/3o6ZtrjsI49WWPkrSM.gif" width="100%" height="100%" ng-cloak/>
		</div>
		<div flex="33">
		<img ng-src="//i.giphy.com/l0MYHPkKBpbIFkkgw.gif" width="100%" height="100%" ng-cloak/>
		</div>
		<div flex="33">
		<img ng-src="//i.imgur.com/urOACpZ.png" width="100%" height="100%" ng-cloak/>
		</div>
	</div>
	<div flex="100" ng-style="{'overflow': 'hidden'}">
		<img ng-src="//i.imgur.com/9XImk2x.png" width="100%" height="100%" ng-cloak/>
	</div>
</div>
