<div layout="row" style="text-align: center; background-color: #42A5F5; padding-top: 5%; padding-bottom: 5%; padding-left:5%; padding-right:5%; min-height: 360px;">
	<div flex="100">
		<h4><font color="#fff"><i class="material-icons">thumb_up</i> A vote a day keeps the creeper away!</font></h4>
		
		<p>
            <a ng-href="http://mc.ly/vote1" target="_blank"><md-button class="mdl-color--red md-raised">Vote 1</button></a>
            <a ng-href="http://mc.ly/vote2" target="_blank"><md-button class="mdl-color--orange md-raised">Vote 2</button></a>
            <a ng-href="http://mc.ly/vote3" target="_blank"><md-button class="mdl-color--yellow md-raised">Vote 3</button></a>
			<a ng-href="http://mc.ly/vote4" target="_blank"><md-button class="mdl-color--green md-raised">Vote 4</button></a>
<!--            <a ng-href="http://mc.ly/vote5" target="_blank"><md-button class="mdl-color--purple md-raised">Vote 5</button></a>
            <a ng-href="http://mc.ly/vote6" target="_blank"><md-button class="mdl-color--pink md-raised">Vote 6</button></a> -->
		</p>
	</div>
</div>
	
<div style="padding-top:2%;padding-bottom:2%;padding-left: 8%;padding-right:8%;">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
            <h3>Vote Rewards</h3>
            <h6>Here are what you get for each vote:</h6>
		<ul>
			<li>$1000 of in game money</li>
				<ul>
					<li>You can use money to buy stuffs at shop: /shop</li>
					<li>Use money to trade </li>
				</ul>
			<li>Voter rank tag in chat until your vote expires</li>
			<li>Lobby Abilities:</li>
			<ul>
				<li>Fly</li>
				<li>Get married</li>
				<li>Sit down anywhere: /sit</li>
				<li>See players near you: /near</li>
				<li>List warps: /warps</li>
			</ul>
		</ul>
		</div>
		<div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
            <img src="//orig06.deviantart.net/3aa0/f/2014/353/1/1/warpify_by_endernoir-d8ad2yf.png" width="100%"></img>
		</div>
	</div>
</div>
	
<img src="//i.imgur.com/GBTqJvj.jpg" width="100%"></img>
	
<!-- <iframe src="https://mc.ly/vote1" frameborder="0" width="100%" height="640"></iframe>
<iframe src="https://mc.ly/vote2" frameborder="0" width="100%" height="640"></iframe>
<iframe src="https://mc.ly/vote3" frameborder="0" width="100%" height="640"></iframe>
<iframe src="https://mc.ly/vote4" frameborder="0" width="100%" height="640"></iframe>
<iframe src="https://mc.ly/vote5" frameborder="0" width="100%" height="640"></iframe>
<iframe src="https://mc.ly/vote6" frameborder="0" width="100%" height="640"></iframe> -->
	