	<div class="page-content">

      <div style="background-image: url(images/carousel.jpg); background-repeat: no-repeat; background-size: cover; background-color: #0091ea; padding-top: 3%; padding-bottom: 3%;padding-left:5%;padding-right:5%;">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
          <h2><font color="#fff">Get Rewards for Voting!</font></h2>
        
          <h6><font color="#eee">Voting is a way to show support for Minecraftly and gain in game rewards in return. Simply click the links below, type in your username and click OK. Each vote will give you diamonds and in game money!</font></h6>
          
          <div style="height: 10px;"></div>
          
            	<a href="http://mc.ly/vote1" target="_blank"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            	  Vote 1
            	</button></a>
            	<a href="http://mc.ly/vote2" target="_blank"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            	  Vote 2
            	</button></a>
            	<a href="http://mc.ly/vote3" target="_blank"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            	  Vote 3
            	</button></a>
            	<a href="http://mc.ly/vote4" target="_blank"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            	  Vote 4
            	</button></a>
            	<a href="http://mc.ly/vote5" target="_blank"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            	  Vote 5
            	</button></a>
            	<a href="http://mc.ly/vote6" target="_blank"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            	  Vote 6
            	</button></a>
          </div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet graybox">
            <img src="//orig07.deviantart.net/1fcc/f/2012/218/3/9/emerald_by_barakaldo-d5a0tlk.gif" width="80%"></img>
          </div>
        </div>
      </div>

      <div style="padding-top:2%;padding-bottom:2%;padding-left: 8%;padding-right:8%;">
         <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
            	<h3>Vote Rewards</h3>
            	<h6>Here are what you get for each vote:</h6>
              <ul>
                <li>$1000 of in game money</li>
                <li>3 diamonds</li>
                <li>3 emeralds</li>
                <li>Voter rank tag in chat</li>
                <li>A mystery crate with 5% chance of winning god diamond items</li>
              </ul>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
            	<img src="//pre10.deviantart.net/8711/th/pre/i/2012/073/a/2/minecraft__revenge_by_assechan-d4ssdnv.png" width="100%"></img>
            </div>
         </div>
      </div>
      
		<div style="background-image: url(//img09.deviantart.net/bb8c/i/2012/355/1/0/yogscast_minecraft___panorama_edition_by_lonmcgregor-d5opfci.jpg); background-size: cover; text-align: center; background-color: #42A5F5; padding-top: 5%; padding-bottom: 5%; padding-left: 8%; padding-right: 8%;">
			<font color="#fff"><b>
				<h2>Try us out</h2>
				<p style="font-size: 28px; line-height: 1.5em;">Start playing for free!</p>
			</b></font>
			
			<div style="height: 10px;"></div>
			
			<a ui-sref="app.play">
				<md-button class="md-raised">GET STARTED</md-button>
			</a>
        </div>
        <!-- /content -->
		
	</div>