<div layout-wrap layout="row" ng-style="{'background-color': '#795548', 'min-height': '20vh', 'padding': '5vh'}">
<div class="mdl-grid">
	<div flex="100">
		<h1 class="md-display-2"><font color="#fff">Why us?</font></h1>
		<p style="color: #eee;">Pokemon GO is the augmented reality, location based spinoff of the popular game Pokemon.</p>
		<p style="color: #eee;">Minecraftly is the massively multiplayer, single universe - multi world edition of the popular game Minecraft.</p>
	</div>
</div>
</div>

<div layout-wrap layout="row" ng-style="{'background-color': '#2196F3','overflow': 'hidden'}">
	<div flex="100" ng-style="{'padding': '10vw'}">
		<h2 style="color: #fff;">What is Minecraftly?</h2>
		<p style="color: #fff;">Minecraftly is a shared distributed Minecraft game server that provides persistent world among multiple, autoscaled cloud instances.</p>
		<p style="color: #fff;">Our servers and storage automatically scale in real time to current workload and can be accessed from all of our machines around the world. There is no setup, no skill required to run and maintain. You only need two things:</p>
		<p style="color: #fff;"><i class="mc mc-apple"></i> Minecraft game client software running on your computer.</p>
		<p style="color: #fff;"><i class="mc mc-apple"></i> Minecraft account.</p>
	</div>
</div>

<div layout-wrap layout="row" ng-style="{'background-color': '#00BCD4','overflow': 'hidden'}">
	<div flex="100" ng-style="{'padding': '10vw'}">
		<h2 style="color: #fff;">How it works</h2>
		<p style="color: #fff;">Our software runs on our cluster of machines and talks directly to our cloud infrastructure. You don't need to run or maintain any servers or pay for hosting.</p>
		<p style="color: #fff;">To get started, use your <b>Minecraft username</b>, add <b>m.ly</b> to the end of your username. Voila! Your Minecraft world server is now <b>username.m.ly</b></p>
		<p style="color: #fff;">For example: if my username is Notch, the server is at Notch.m.ly</p>
		<p style="color: #fff;"><i class="mc mc-egg"></i> TIP: If you don't need a custom username, simply connect to <b>m.ly</b>, it will bring you to the same server.</p>
		<p style="color: #fff;">The world loading speed is better than SSD, and similar to RAM disk. We use workload adaptive heuristics such as real time compression, write bundling and read caching to implement high performance.</p>
	</div>
</div>

<div layout-wrap layout="row" ng-style="{'background-color': '#4CAF50','overflow': 'hidden'}">
	<div flex="100" ng-style="{'padding': '10vw'}">
		<h2 style="color: #fff;">Why should I play Minecraftly?</h2>
		<h5 style="color: #fff;">1. You want a super massive scaled out Minecraft server.</h5>
		<p style="color: #fff;">Zero effort is needed from you to scale up your Minecraft world server when it's popular. We already took care of it so you don't have to.</p>
		<h5 style="color: #fff;">2. You want to play on the same server with everyone else.</b></h5>
		<p style="color: #fff;">You get access to the players on the same universe at all time. It doesn't matter whether you connect to m.ly, username.m.ly, or map your custom domain name, it's all in the same universe! This is the largest single massively multiplayer online sandbox version of gaming architecture in the world.</p>
		<h5 style="color: #fff;">3. You want to play in the existing Minecraft Multiplayer environment.</h5>
		<p style="color: #fff;">Let's be honest, Minecraft PC Multiplayer is the best, and it's going to be so exciting if everyone can be at the same place at the same time, virtually. Minecraftly solves all of the technical problem to provide you just that!</h5>
		<h5 style="color: #fff;">4. You want hassle-free world/server management.</p>
		<p style="color: #fff;">You don’t need to set up, run and maintain Minecraft servers or learn any skill to keep your data redundant, reliable and highly available. With Minecraftly, you offload the management of the backend to us. All you need to do is play!</p>
		<h5 style="color: #fff;">5. You want low network latency from anywhere.</h5>
		<p style="color: #fff;">We designed our network backbone so that you get sub lower than 100 miliseconds latency from anywhere in the world. Whether you are playing from the US, Asia, Europe or Australia, you can interact with players from anywhere else, inside the same server space without any lag. This is truly the first of its kind solution in MMO gaming.</p>
		<h5 style="color: #fff;">6. You want real infinite storage.</h5>
		<p style="color: #fff;">Our world storage system is virtually infinite and can handle hundreds of petabytes of data. It's millions to billions of gigabytes of data at your fingertip. The dream of having a real infinite Minecraft world is here for you!</p>
	</div>
</div>

<div layout-wrap layout="row" ng-style="{'background-color': '#673AB7','overflow': 'hidden'}">
	<div flex="100" ng-style="{'padding': '10vw'}">
		<h2 style="color: #fff;">What is new about Minecraftly?</h2>
		<p style="color: #fff;">1. <b>Platform as a Service</b>. Compatible with the standard Minecraft Multiplayer platform, if you have a Minecraft account, you have an online world. No hassle.</p>
		<p style="color: #fff;">2. <b>Live distributed universe</b>. All worlds from all players are inside the same universe, creating the perception of a single space that hosts millions of players at the same time.</p>
		<p style="color: #fff;">3. <b>Globally optimized network routing</b>. Play anywhere, with players from anywhere, with no lag. Usually 100ms or less in latency.</p>
		<p style="color: #fff;">4. <b>Always on</b>. Your world is always on, 24/7, secure at rest and in motion.</p>
	</div>
</div>